*

!.gitignore
!.gitconfig

!.tmux.conf
!.tmux/
!.tmux/.plugins.tmux.conf
!.tmux/.vim.tmux.conf

!.vimrc
!.vim/
!.vim/cheatsheet.vim
!.vim/colourscheme.vim
!.vim/misc.vim
!.vim/plugins.vim
!.vim/plugin/
!.vim/plugin/**
!.vim/syntax/
!.vim/syntax/**
!.vim/ftdetect/
!.vim/ftdetect/**

!.zsh_alias/
!.zsh_alias/**

!.fzf.zsh
