#*.DS_Store
#*.swp
#
#**/.tmux/
#
#**/.zsh_alias/.vim.zshrc
#**/.zsh_alias/.fzf.zshrc
#
#**/.vim/.netrwhist
#**/.vim/backup
#**/.vim/ftplugin
#**/.vim/pack
#**/.vim/plugged
#**/.vim/view
#

*


!.gitignore
!.gitconfig

!.tmux.conf

!.vimrc
!.vim/
!.vim/plugin/
!.vim/plugin/**
!.vim/syntax/
!.vim/syntax/**
!.vim/ftdetect/
!.vim/ftdetect/**

#!.zshrc
!.zsh_alias/
!.zsh_alias/**



