*

!.gitignore
!.gitconfig

!.tmux.conf
!.tmux/
!.tmux/scripts/
!.tmux/scripts/git-commands-using-menu.tmux
!.tmux/scripts/battery.sh
!.tmux/scripts/tmux-spotify-info


!.vimrc
!.vim/
!.vim/cheatsheet.vim
!.vim/colourscheme.vim
!.vim/misc.vim
!.vim/plugins.vim
!.vim/plugin/
!.vim/plugin/**
!.vim/syntax/
!.vim/syntax/**
!.vim/ftdetect/
!.vim/ftdetect/**

!.zsh_alias/
!.zsh_alias/**

!.fzf.zsh

!.muttrc
